<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="coba_linq.Properties.Settings.LKSMartConnectionString"
            connectionString="Data Source=DESKTOP-IKJ7KAP;Initial Catalog=LKSMart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="coba_linq.Properties.Settings.LKSMartConnectionString1"
            connectionString="Data Source=DESKTOP-VB2FOIL;Initial Catalog=LKSMart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="coba_linq.Properties.Settings.LKSMartConnectionString2"
            connectionString="Data Source=DESKTOP-EP783KV;Initial Catalog=LKSMart;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>